<%- include top %>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">管理后台</a>
    </div>
    <nav class="navbar-collapse bs-navbar-collapse" role="navigation">
    </nav>
  </div>
</header>

<div class="container " style="padding-top:70px;" ng-controller="IndexCtrl">
	<div class="row">
	  <div class="col-md-2">

	  	<div class="list-group">
            <a href="/adminNew?page=0" class="list-group-item">新闻后台</a>
            <a href="#" class="list-group-item">酒品陈列和精品推荐</a>
            <a href="#" class="list-group-item">在线订购</a>
            <a href="/act" class="list-group-item">营销活动</a>
            <a href="#" class="list-group-item">相册</a>
        </div>
	  </div>